
// _base.scss imports _custom.scss (variables and mixins) and other partials.
@import "base";

/*
 * @file
 * global.styles
 */

/* =============================================================================
 *   Base
 * ========================================================================== */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * To preserve theme settings never apply font properties to the HTML element.
 * This is critically important if you are using the Responsive JavaScript
 * feature as this relies on being able to set a pseudo font family on the HTML
 * element. If you need to set default font properties of any kind use the BODY
 * element as these can be overridden using font theme settings.
 */

html {
  background: $page;
}

body {
  font-family: $sans-serif-small; // Set from _custom.scss font variables
  font-size: 87.5%;
  color: #333;
}



h1, h2, h3, h4 {
  font-weight: 400;
}


pre,
code,
tt,
samp,
kbd,
var {
  font-family: $mono;
}


/* =============================================================================
 *   Wrappers
 * ========================================================================== */

#tertiary-content-wrapper,
#footer-wrapper,
#content-wrapper,
#header-wrapper {
 padding: 0 10px;
}




/*
 * Wraps the header
 */
#header-wrapper {
  background: #383e68;
  background: -moz-linear-gradient(top,  #383e68 0%, #003773 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#383e68), color-stop(100%,#003773));
  background: -webkit-linear-gradient(top,  #383e68 0%,#003773 100%);
  background: -o-linear-gradient(top,  #383e68 0%,#003773 100%);
  background: -ms-linear-gradient(top,  #383e68 0%,#003773 100%);
  background: linear-gradient(to bottom,  #383e68 0%,#003773 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383e68', endColorstr='#003773',GradientType=0 );

  min-height: 144px;
}



#header {
  position: relative;
}


.region-leaderboard {
  background: #164178;
  background: -moz-linear-gradient(top,  #164178 0%, #1d4276 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#164178), color-stop(100%,#1d4276));
  background: -webkit-linear-gradient(top,  #164178 0%,#1d4276 100%);
  background: -o-linear-gradient(top,  #164178 0%,#1d4276 100%);
  background: -ms-linear-gradient(top,  #164178 0%,#1d4276 100%);
  background: linear-gradient(to bottom,  #164178 0%,#1d4276 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#164178', endColorstr='#1d4276',GradientType=0 );


  .block {
    float: right;
    margin: 0 10px 0 0;

    .block-inner {
      margin: 0;
      padding: 0 0 2px;
    }

    .menu a,
    .block-content a,
    .block-content span.language-link {
      color: #add3e7;
      display: inline-block;
      padding: 5px;
    }

    .block-content li {
      &:active a,
      &.active a {
        //text-decoration: underline;
      }
    }
  }

  .block-superfish {
    float: left;
  }

  .block {
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        margin: 0;
        float: left;
        padding: 0.2em 0.5em 0 0;
      }
    }
  }

  .block-locale {
    margin: 0;
  }

  #block-system-user-menu {
    float: left;

    .block-inner {
      margin-left: 7px;
    }
  }
}




// This is mad, but local seems to put active class on both links? Not sure what is going on.
body.i18n-en {
  .block-locale .block-content li.en a {
    text-decoration: underline;
  }
}
body.i18n-es {
  .block-locale .block-content li.es a {
    text-decoration: underline;
  }
}



/*
 * Wraps the secondary content/preface region
 */
#secondary-content-wrapper {

  background: #fff;
  overflow: hidden;

  .block {
    margin: 0 auto;
  }

  .flex-direction-nav {
    display: none !important;
  }

  .flex-control-nav {
    bottom: -2px;

    a {
      @include ir;
      width: 10px;
      height: 10px;
      background: url(images/slide-controls.png) no-repeat transparent right top;

      float: left;
      margin: 0 2px;

      &.active {
      background: url(images/slide-controls.png) no-repeat transparent left top;
      }
    }
  }


  .flexslider {
    background: url(images/slideshow-background.png) no-repeat transparent center top;
    max-width: 960px;
    margin: 0 auto;
    min-height: 392px;

    .slides {

      img {
        display: block;
        float: left;
        padding: 10px;
        background: url(images/slideimage-background.png) no-repeat transparent 0 0;
        padding: 10px 10px 20px;
        margin: 42px 30px 0;
      }

      h2, p {
        color: #fff;
      }

      h2 {
        font-size: 40px;
        margin: 30px 0 10px;
      }

      p {
        font-size: 18px;
        margin-left: 440px;
        margin-right: 50px;
      }

      .field-slideshow-caption {
        float: right;
        width: 400px;
        color: #fff;
        font-size: 14px;
        margin: 42px 20px 0;
      }
    }


  }


  .container {
    padding: 40px 0 10px;
  }

  #field-slideshow-1-wrapper,
  .field-slideshow,
  #field-slideshow-1-controls {
    margin: auto;
    //max-width: 960px;
  }

  #field-slideshow-1-controls {
    text-align: center;
  }
}


/*
 * Wraps the main content column
 */
.front #content-wrapper {
  background-image: url(images/lip-down.png);
  background-repeat: no-repeat;
  background-position: top center;
  border-top: 1px solid #c4c4c3;

  .container {}
}




#columns {
  max-width: 980px;
  margin: auto;


  .breadcrumb-wrapper {
    margin: 0 0 20px !important;
    color: #848484;
  }
}


.not-front #main-content {
  background: #fff;
  padding: 15px;
  margin-top: 40px;
  @include border-radius(10px);
  -webkit-box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, .05);
  box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, .05);
}




#block-views-jovens-of-the-month-block {
  width: 750px;
  margin: 40px auto 10px;
  text-align: center;


  .view-header h2 {
    font-size: 2em;
    margin: 0;
    padding: 0 0 20px;

    span {
      display: block;
      font-size: .75em;
    }
  }

  .view-footer {
    font-size: 1.25em;
    padding: 20px 0 0 0;
    clear: both;
  }

  ul {

    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin: 0 35px;
      padding: 0;
      display: block;
      float: left;
      position: relative;
      width: 180px;
      height: 180px;

      .picture-frame {
        background: url(images/picture-frame-circle.png) no-repeat transparent center top;
        height: 180px;
        position: absolute;
        top: 0;
        width: 180px;
        z-index: 10;
      }

    }

  }

}








button, input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;

  padding: 6px 12px 5px;
  color: #fff;
  @include border-radius(50px);
  border: 0;
  margin-right: 4px;
  font-size: 16px;

  background: #383e68;
  background: -moz-linear-gradient(top,  #383e68 0%, #003773 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#383e68), color-stop(100%,#003773));
  background: -webkit-linear-gradient(top,  #383e68 0%,#003773 100%);
  background: -o-linear-gradient(top,  #383e68 0%,#003773 100%);
  background: -ms-linear-gradient(top,  #383e68 0%,#003773 100%);
  background: linear-gradient(to bottom,  #383e68 0%,#003773 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383e68', endColorstr='#003773',GradientType=0 );
}


#edit-actions--2 {
  @include element-invisible;
}



/*
 * Wraps the tertiary content/postfix region
 */
#tertiary-content-wrapper {

  background: #fff;
  background-image: url(images/lip-down.png);
  background-repeat: no-repeat;
  background-position: center -2px;
  border-top: 1px solid #c4c4c3;
  border-bottom: 1px solid #c4c4c3;

  .lip {
    background-image: url(images/lip-up.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 20px;
  }

  .container {}


/*   Original code to insert the corporate logos in the block
<p><img alt="USAID" class="usaid-logo" src="/sites/all/themes/alertajoven/images/usaid-logo-spanish-h80.png" /><img alt="Entrena Consulting" class="entrena-logo" src="/sites/all/themes/alertajoven/images/entrena-consulting-logo-h80.png" /></p> */
}


/*
 * Footer wrapper
 */
#footer-wrapper {
  .container {
    max-width: 970px;
  }
}

// The actual footer
#footer {

  margin: 30px 0;
  padding: 10px 0;

  background: #f7f7f7;
  background: -moz-linear-gradient(top,  #f7f7f7 0%, #c8c6c6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#c8c6c6));
  background: -webkit-linear-gradient(top,  #f7f7f7 0%,#c8c6c6 100%);
  background: -o-linear-gradient(top,  #f7f7f7 0%,#c8c6c6 100%);
  background: -ms-linear-gradient(top,  #f7f7f7 0%,#c8c6c6 100%);
  background: linear-gradient(to bottom,  #f7f7f7 0%,#c8c6c6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#c8c6c6',GradientType=0 );

  @include border-radius(10px);
  border: 1px solid #d4d4d4;


  .block-content a {
    color: #333;
    padding: 2px 10px;
    display: block;
  }


  .block {
    margin: 0;
  }

  .block-search {
    float: right;
    border-left: 1px solid #d4d4d4;
    margin: -10px 0;
    padding: 10px 0;

    .form-text {
      min-width: 200px;
      @include border-radius(30px);
      border: 1px solid #d4d4d4;
      padding: 4px 10px;
      color: #666;
    }

    #edit-actions {
      @include element-invisible;
    }
  }

  .block-menu {

    float: left;
    margin-top: 0;

    ul, li {
      margin: 0;
      padding: 0;
    }

    li {
      float: left;
      list-style: none;
    }

  }
}

// USAID message at the bottom of the page
.region-footer-bottom {
  color: #747474;
  font-size: 0.833em;
  max-width: 780px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.2;
}



/* =============================================================================
 *   Branding and header
 * ========================================================================== */


.region-header {
  float: left;
  margin: 0;
  padding: 0;
}


.top-logos {
  background: url("images/top-logos.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
  float: left;
  height: 136px;
  margin: 0 0 -30px -4px;
  overflow: visible;
  position: relative;
  width: 208px;
  z-index: 20;
}


/*
 * Wraps all the branding elements, logo, name and slogan
 */
#branding {
  float: left;
    margin: 30px 0 0 20px;
}


/*
 * Logo
 */
#logo {
  padding: 10px 0;

  img {
    vertical-align: bottom;
  }
}


/*
 * Wrapper for the site name and slogan (hgroup)
 */
#name-and-slogan {}


/*
 * Site name (h1)
 */
#site-name {
  margin: 0;

  a {

    &:link,
    &:visited {
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}


/*
 * Site slogan (h2)
 */
#site-slogan {
  margin: 0;
}







/* =============================================================================
 *   Top Bar
 * ========================================================================== */



#block-block-5 {

  margin-top: 4px;

  .content {
    ul {
      li {
        padding: 0 3px;
        a {
          display: block;
          width: 24px;
          height: 24px;
          @include ir;
          background-image: url(images/sn-sprite.png);
          background-repeat: none;
        }

        &.instagram a {
          background-position: 0 0;
        }
        &.facebook a {
          background-position: -30px 0;
        }
        &.youtube a {
          background-position: -90px 0;
        }
      }
    }
  }
}






/* =============================================================================
 *   Join us links
 * ========================================================================== */

#block-block-6 {

  margin-bottom: 30px !important;
  padding-left: 50px;

  .block-content {


    a {
      display: block;
background: #4c4b4c;
background: -moz-linear-gradient(top,  #4c4b4c 0%, #303131 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4b4c), color-stop(100%,#303131));
background: -webkit-linear-gradient(top,  #4c4b4c 0%,#303131 100%);
background: -o-linear-gradient(top,  #4c4b4c 0%,#303131 100%);
background: -ms-linear-gradient(top,  #4c4b4c 0%,#303131 100%);
background: linear-gradient(to bottom,  #4c4b4c 0%,#303131 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4b4c', endColorstr='#303131',GradientType=0 );


      @include border-radius(4px);
      color: #fff;
      float: left;
      padding: 3px 12px;
      margin-right: 10px;
      font-size: 16px;
    }


  }


}
















/* =============================================================================
 *   Page content header
 * ========================================================================== */


/*
 * The main page title (h1)
 */
#page-title {
  margin: 0;
}


/* =============================================================================
 *   Misc Global Styles
 * ========================================================================== */


/*
 * Aggregator feed source
 */
#aggregator .feed-source .feed-icon {
  display: inline;
  float: none;
  margin-right: 10px;
}


.feed-details dt,
.feed-details dd {
  display: inline;
  margin: 0;
}


/*
 * Generic styles for links. See the ul.links declaration in node and comment stylesheets
 */
ul.links {
  margin: 0;
  padding: 0;

  &.inline {
    display: block;
  }

  li {
    display: inline;
    list-style: none;
    padding: 0 10px 0 0;
  }
}


/*
 * Search results are an ordered list so reset the margin
 */
.search-results {
  margin: 0;
  padding: 0;
}


/* =============================================================================
 *   Regions
 * ========================================================================== */

/*
 * Standard region wrapper, don't add width to any regions, you will bork the layout - no margin, padding or borders etc
 */
.region {}



/* =============================================================================
 *   Links
 * ========================================================================== */

a {
  text-decoration: none;
  color: #445780;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}


/* =============================================================================
 *   Primary, Secondary and Menu Bar region menus
 * ========================================================================== */

/*
 * Use one of the following id's for granular control:
 *  - #menu-bar (menu bar region)
 *  - #primary-menu (main menu)
 *  - #secondary-menu (secondary/user menu)
 * You can target all of these with .nav or div[id$="menu-bar"]
 */

#menu-bar {
  border: 0 none;
  bottom: -6px;
  right: 0;
  margin-top: 37px;
}

.nav {
  clear: none;
  float: right;
  margin: 0;

  ul,
  ul.menu {
    margin: 0;
    padding: 0;
  }
}


/*
 * Superfish blocks
 */
.block-superfish {

  .block-inner .content {}

  ul {
    margin: 0 !important;
    padding: 0 !important;

    ul {
      ul {
        ul {}
      }
    }
  }

  li {
    margin: 0 !important;
    padding: 0 !important;
  }
}




/* =============================================================================
 *   Menu Toggles
 * ========================================================================== */
// .at-mt is a page class
.at-mt {
  .at-menu-toggle,
  .at-menu-toggle ul,
  .at-menu-toggle ul.menu {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

  .at-menu-toggle-button {
    margin: 0;
  }

  .at-menu-toggle ul a {
    padding: 0 10px;
    white-space: nowrap;
  }
}


/* =============================================================================
 *   Menus, usually blocks
 * ========================================================================== */

ul.menu {
  padding-left: 15px;

  ul {
    padding-left: 15px;
  }

  li {
    margin: 0;
  }
}


/* If li.content exists it's a problem, so reset the padding */
.block .menu li.content {
  padding: 0;
}


/* =============================================================================
 *   Book navigation menu
 * ========================================================================== */

.book-navigation {

  .page-up {
    /* Prevent text wrapping to a new line, assumes English "up" is used (two characters) */
    min-width: 2em;
    white-space: nowrap;
  }

  .menu {
    margin-left: 0;
  }
}


/* =============================================================================
 *   Breadcrumbs
 * ========================================================================== */

#breadcrumb {
  margin: 10px 0;

  /* If the label is set to show in theme settings the label class is added */
  .breadcrumb-label {
    font-size: 1em;
    display: inline;
    padding-right: 10px;

    &:after {
      content: ":";
    }
  }

  ol {
    margin: 0;
    padding: 0;
  }

  .with-breadcrumb-label ol {
    display: inline;
  }

  li {
    list-style: none;
    display: inline;
  }
}


/* =============================================================================
 *   Pagers
 * ========================================================================== */

ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}


.item-list ul.pager li {
  margin: 0;
}


ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;

  &.pager-current {
    font-weight: 700;
  }
}


.block ul.pager li {
  margin: 0;
}



/* =============================================================================
 *   Skip Navigation
 * ========================================================================== */

#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;

  a {
    background: #444;
    background: rgba(0, 0, 0, 0.6);
    color: $page;
    display: block;
    line-height: 2;
    padding: 0;
    text-align: center;
    text-decoration: none;

    &:link,
    &:visited {
      background: #444;
      background: rgba(0, 0, 0, 0.6);
      color: $page;
      display: block;
      line-height: 2;
      padding: 0;
      text-align: center;
      text-decoration: none;
    }
    &:hover,
    &:focus,
    &:active {
      outline: 0;
    }
  }
}


/* =============================================================================
 *   Tabs (local tasks)
 * ========================================================================== */

#tasks {
  margin-bottom: 15px;
}


ul.primary {
  border-bottom-color: $border;
  margin: 20px 0;
  padding: 0 0 0 5px;

  li {
    display: block;
    float: left;
    margin: 0 1px -1px;

    a {
      background-color: $ultralight;
      border-color: $border;
      margin-right: 1px;
      padding: 0 10px;
      display: block;
      float: left;
      height: 1.5em;
      line-height: 1.5em;

      &:hover,
      &:focus {
        background-color: $light;
        border-color: $border;
      }
    }
  }

  li.active {
    a,
    a:hover,
    a:focus {
      background-color: $page;
      border-bottom-color: $page;
    }
  }
}


ul.secondary {
  border-bottom: 1px solid $border;
  margin: 1em 0 0;
  padding: 0 .3em 1em;

  li {
    border-right: 0;
    list-style: none;
    padding: 0 10px 0 0;

    a {
      &:hover,
      &.active {
        border-bottom: none;
        text-decoration: underline;
      }
    }
  }
}


/* =============================================================================
 *   Action links
 * ========================================================================== */

ul.action-links {
  margin: 20px 0 0;
  list-style: none;

  li {}
}


/* =============================================================================
 *  Field Styling
 * ========================================================================== */


/*
 * When labels are set to inline in field display settings the clearfix class is automatically added
 */
.field-label-inline {

  /* Remove the margin on inline field lables to preserve vertical formatting */
  .field-label {
    margin: 0;
  }
}

/*
 * Labels are h2 in Adaptivetheme. Use a strong selector to mitigate unwanted ineritance issues
 */
.field-label {
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  line-height: inherit;
  margin-bottom: 0;
}


/*
 * Taxonomy
 */
.field-type-taxonomy-term-reference {

  /* The same bottom margin as p, blockquote, ul, ol and dl */
  margin-bottom: 1.5em;

  &.field-label-inline .field-items {
    margin: 0;
    padding: 0;
  }

  &.field-label-inline .field-item {
    display: inline;
    list-style: none;
    padding: 0 10px 0 0;
  }
}


/*
 * Float left setting
 */
.ia-l .field-type-image figure,
.iat-l .field-type-image figure {
  margin: 5px 20px 15px 0;
}


/*
 * Centered setting
 */
.ia-c .field-type-image figure,
.iat-c .field-type-image figure {
  margin: 5px auto 15px;
}


/*
 * Float right setting
 */
.ia-r .field-type-image figure,
.iat-r .field-type-image figure {
  margin: 5px 0 15px 20px;
}



/* =============================================================================
 *   Block Styling
 * ========================================================================== */

/*
 * Main wrapper for most blocks, block_system_main does not have it
 */
.block {
  margin-bottom: 20px;
}


/*
 * Block title
 */
.block-title {
  margin: 0;
  font-weight: 400;
}


/*
 * Match item list and block menu margin and padding
 */
.block-content {

  ul,
  ol {
    padding: 0 0 0 15px;
  }

  li {
    margin: 0;
    padding: 0;
  }
}



// Custom Blocks etc


#block-views-slideshows-block {
  .block-inner {
    margin: 0;
  }
}


// Corporate logos
#block-block-4 {
  text-align: center;
  margin: 40px 0;

  p {
    margin: 0;
    padding: 0;
    line-height: 0;
  }
}





// Front page scroll bloxes
#block-views-publications-block-1,
#block-views-news-block {
  width: 49%;
  float: left;
  border: 1px solid #c4c4c3;
  margin: 50px 0 40px;
  padding: 20px;
  background: #fff;

  @include border-radius(10px);
  -webkit-box-shadow: inset 0px 1px 4px 4px rgba(0, 0, 0, .08);
  box-shadow: inset 0px 1px 4px 4px rgba(0, 0, 0, .08);


  .block-title {
    margin-bottom: 20px;
  }

  ul, li {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: 0;
  }


  .view-content {
    overflow-y: scroll;
    text-align: left;
    height: 300px;
  }

  .item-list {
    padding-right: 15px;
  }
}


#block-views-publications-block-1 {
  float: right;
}









/* =============================================================================
 *   Node Styling
 * ========================================================================== */

.node {
  margin-bottom: 20px;

  .node-title {
    margin: 0;
  }
}





/* =============================================================================
 *   Comment Styling - Comments, comment wrapper, comment form
 * ========================================================================== */

/*
 * Wrapper for the list of comments and its titles
 */
#comments {
  margin: 1.5em 0;

  h2 {
    &.comment-title {
      margin: 0;
    }

    &.comment-form {
      margin: 0;
    }
  }
}


/*
 * Wrapper for a single comment
 */
.comment {
  margin-bottom: 20px;
}


/*
 * Comment title
 */
.comment-title {
  margin: 0;
}


/*
 * "New" marker for comments that are new for the current user
 */
.new {
  color: $highlight;
}


/*
 * Nested comments are indented
 */
.indented {
  margin-left: 40px;
}


/* =============================================================================
 *   Forms
 * ========================================================================== */

/*
 * Wrapper for a form element (or group of form elements) and its label
 */
.form-item {

  input.error,
  textarea.error,
  select.error {
    border: 1px solid $highlight;
  }

  label {
    font-weight: 700;
  }

  .description {
    font-size: 0.85em;
  }
}


/*
 * Highlight marks and form required mark
 */
.marker,
.form-required {
  color: $highlight;
}


.container-inline {
  div,
  label {
    display: inline;
  }
}

/*
 * Define consistent borders
 */
fieldset {
  border: 1px solid $border;
}

/*
 * Tips for Drupal's input formats
 */
.tips {
  font-size: 0.9em;
}


/*
 * Buttons used by contrib modules like Media
 */
a.button {
  @include appearance(button);
}


/*
 * Password confirmation
 */
.password-parent,
.confirm-parent {
  margin: 0;
}


/* =============================================================================
 *   Tables
 * ========================================================================== */

table {
  margin: 10px 0;
  padding: 0;
  width: 100%;

  &.sticky-header {
    z-index: 10;
  }
}


table,
thead,
tbody,
tr,
th,
td {
  border-color: $border;
}


table,
td,
th {
  vertical-align: middle;
}


caption,
th,
td {
  text-align: left;
}


thead tr {
  font-weight: 700;
  background-color: $medium_dark;
}


td,
th {
  border-bottom: 0;
  margin: 0;
  padding: 5px 7px;
}


tbody {}


tbody tr {
  border-top: 1px solid $border;
}


tr {

  &.odd {
    background: $page;
  }

  /* Table row striping */
  &.info,
  &.even,
  &:nth-child(2n+2)  {
    border-bottom: 0;
    background-color: $ultralight;
  }

  &.drag {}

  &.drag-previous {}

  &.odd td.active {
    background-color: $light;
  }

  &.even td.active {
    background-color: $medium_light;
  }
}


/*
 * Forum tables
 * Core sets white-space to nowrap, which makes no sense
 */
#forum td {
  &.created,
  &.posts,
  &.topics,
  &.last-reply,
  &.replies,
  &.pager {
    white-space: normal;
  }
}


/* =============================================================================
 *   Messages
 * ========================================================================== */

div {
  &.messages {
  // Left and right margin are set by the global gutter width
  margin-bottom: 10px;
  margin-top: 10px;

    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}


.node-unpublished,
.comment-unpublished {

  p.unpublished {
    @include unpublished;
  }
}


/* =============================================================================
 *    Maintenance pages
 * ========================================================================== */

.maintenance-page {
  .container {
    padding: 40px 0;
  }

  #site-name,
  #page-title {
    margin: 0;
  }
}


.db-offline {
  .container {
    margin: 0 auto;
    padding: 40px 0;
    width: 100%;
    max-width: 960px;
  }

  div.messages {
    margin: 20px 0 0;
  }

  #content {
    padding: 20px 0;
  }
}


/* =============================================================================
 *   Misc overrides for contrib modules
 * ========================================================================== */

/*
 * Admin menu overrides
 */
#admin-menu {
  margin: 0;
  padding: 0;
}


/*
 * Devel Module
 */
.dev-query {
  background: $light;
  padding: 30px;
}


/*
 * Styleguide module tweaks
 */
#styleguide-header {
  padding: 0 10px;

  .item-list {
    font-family: inherit;
    margin: 0 20px 20px 0;
    min-height: 260px;
    width: auto;
  }
}
