
// _base.scss imports _custom.scss and other partials.
@import "base";


@media only screen and (max-width: 480px) {
  .region[class*="float-blocks"] .block {
    float: none;
    width: 100%;
  }
}


@media only screen and (max-width: 660px) {
  #block-views-publications-block-1,
  #block-views-news-block {
    float: none;
    width: auto;
    margin: 30px 0 0;
  }

  #footer .block-search {
    border-left: 0;
    float: none;
    margin: -10px 10px 10px;
    padding: 10px 0;
  }

  #footer .block-search .form-text {
    min-width: auto;
  }


  .field-name-body {
    ul {
      padding: 0 0 0 15px;
    }
  }
}


@media only screen and (max-width: 540px) {
  #branding {
    float: none;
    clear: both;
    margin: 0;
  }
}


@media only screen and (max-width: 768px) {
  #admin-menu {
    display: none;
  }

  .top-logos {
    margin-bottom: 10px;
  }

  #menu-bar {
    border: 0;
    bottom: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    right: auto;

    .block {
      margin: 0;
    }
  }
  .nav {
    float: none;
    clear: both;
    margin: 0;
  }

  .at-menu-toggle-button-link {
    background: url(images/toggle-icon-small.png) no-repeat transparent left center;
    padding: 0 0 0 30px;
    color: #fff;
  }

  ul.sf-menu {
    > li {
      margin: 0 !important;
    }

    ul {
      text-align: left;

      li {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }

    a {
      color: #fff;
      text-decoration: none;
    }

    li, a {
      line-height: 2.5em;
    }
  }

  // slides
  #secondary-content-wrapper {
    .flexslider {
       background-repeat: repeat-y;
       border: 0 none;
       padding-bottom: 10px;

      .slides {
        margin: 0;
        padding: 0;
        text-align: center;

        img {
          float: none;
          margin: 40px auto 0;
          max-width: 90%;
        }

        h2 {
          margin-left: 15px;
          margin-right: 15px;
          font-size: 2em;
        }

        p {
          font-size: 18px;
          margin-left: 15px;
          margin-right: 15px;
        }
      }
    }

    .flex-control-nav {
      display: none
    }
  }

  #block-views-jovens-of-the-month-block ul li {
    display: block;
    float: none;
    height: 180px;
    list-style: none outside none;
    margin: 0 auto 10px;
    padding: 0;
    position: relative;
    width: 180px;
  }

  #block-views-jovens-of-the-month-block {
    margin: 40px auto 10px;
    text-align: center;
    width: auto;
  }
}


@media only screen and (min-width: 769px) {
  .block-superfish {
    margin: 0 !important;

    .block-inner {
      margin: 0;
    }
  }

  ul.sf-menu {
    margin-bottom: 0;
    text-align: right;

    a {
      color: #fff;
      text-decoration: none;
    }

    > li {
      margin-left: 30px !important;
    }

    > li.menuparent.sfHover,
    > li > a {
      border: 0;
      padding: 0 20px;
      height: 75px;
      line-height: 75px;
      @include border-radius(8px 8px 0 0);

      &:hover {
        background: #566b91;
      }
    }

    > li.sf-depth-1.sf-no-children {
      > a {
          height: 50px;
          line-height: 50px;
          @include border-radius(8px);
          top: 12px;
        &:focus,
        &:hover,
        &:active {
          height: 50px;
          line-height: 50px;
          @include border-radius(8px);
          top: 12px;
        }
      }
    }

    ul {
      background: #566b91;
      border-bottom: 7px solid #566b91;

      li {
        display: block;

        a,
        a:hover,
        a:focus {
          border-bottom: 1px solid #fff;
          padding: 5px;
          margin: 0 5px;
          display: block;
          height: 36px;
          line-height: 36px;
          @include border-radius(0);
        }
      }
    }

    li {
      &:hover,
      &.sfHover {
        outline: 0;
      }
    }

    li > ul,
    li li > ul {
      left: auto;
      right: 0;
    }

    li:hover > ul, li.sfHover > ul {
      left: auto;
      right: 0;
      top: 100%;
    }
    li li:hover > ul, li li.sfHover > ul {
      right: 12em;
      top: 0;
    }

    a {
      &:focus,
      &:hover,
      &:active {
        outline: 0;
      }
    }
  }
}


